

<div>
  <p>Blue</p>
  <input type="range" min="0" max="255" [(ngModel)]="blue">
</div>
<div>
  <p>Red</p>
  <input type="range" min="0" max="255" [(ngModel)]="red">
</div>
<div>
  <p>Green</p>
  <input type="range" min="0" max="255" [(ngModel)]="green">
</div>

<div [style.background-color]="'rgb('+red+','+blue+','+green+')'" style="width: 500px;height: 300px"></div>
<input type="color" [(ngModel)]="changeColor">
<div style="width: 500px;height: 300px" [style.background-color] = "changeColor">

</div>
