<!--<div *ngFor="let item of arr; let i = index">-->

<!--<div *ngFor="let temp of item">-->

<!--  <h2 >{{temp}}</h2>-->
<!--</div>-->
<!--  <br>-->
<!--</div>-->



<!--<div class='card'>-->
<!--  <div class='card-header'>-->
<!--    ngSwitch Example-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    Input string : <input type='text' [(ngModel)]="num" />-->

<!--    <div [ngSwitch]="num">-->
<!--      <div *ngSwitchCase="'1'">One</div>-->
<!--      <div *ngSwitchCase="'2'">Two</div>-->
<!--      <div *ngSwitchCase="'3'">Three</div>-->
<!--      <div *ngSwitchCase="'4'">Four</div>-->
<!--      <div *ngSwitchCase="'5'">Five</div>-->
<!--      <div *ngSwitchDefault>This is Default</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<h1>Simple example of ngIf </h1>
<div class="row">
  Show <input type="checkbox" [(ngModel)]="showMe" />
</div>
<h1>ngIf </h1>
<p *ngIf="showMe">
  ShowMe is checked
</p>
<p *ngIf="!showMe">
  ShowMe is unchecked
</p>
<hr>
<h1>ngIf Else</h1>

<p *ngIf="showMe; else elseBlock1">
  ShowMe is checked
</p>

<ng-template #elseBlock1>
  <p>ShowMe is unchecked Using elseBlock</p>
</ng-template>

<hr>
<h1>ngIf then else</h1>

<p *ngIf="showMe; then thenBlock2 else elseBlock2">
  This is not rendered
</p>

<ng-template #thenBlock2>
  <p>ShowMe is checked Using thenblock</p>
</ng-template>

<ng-template #elseBlock2>
  <p>ShowMe is unchecked Using elseBlock</p>
</ng-template>

